@model MoneySenseWeb.Models.Category

@{
    ViewData["PageTitle"] = Model.CategoryId==0?"Nova categoria":"Editar categoria";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="Editor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type=="Expense")" />
                        <label class="e-btn" for="radioleft">Dispesa</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                        <label class="e-btn" for="radiomiddle">Receita</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Title" placeholder="Titulo" ejs-for="@Model.Title" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Description" placeholder="Descrição" ejs-for="@Model.Description" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Icon" placeholder="Icone" ejs-for="@Model.Icon" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <ejs-button id="submit" type="submit" content="Salvar" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class  ="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

